---
title: gosub - computer stuff weblog
description: a weblog about the problems encountered and the solutions discovered while using computers
---
<!doctype html>

<html>
	{% include head.html %}
	<body>
		<header>
		{% include header.html %}
		</header>
		<main>
			{% include section_startpage.html %}
		</main>
		<aside>
			<nav>
				{% include nav.html %}
			</nav>
		</aside>
		<footer>
		{% include footer.html %}
		</footer>
		<!--[if !IE]><script>fixScale(document);</script><![endif]-->
		{% include google_analytics.html %}
	</body>

</html>
